.weather-info {
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
	animation: fade-in-animation ease 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fade-in-animation {
	0% {
		opacity: 0;
		transform: translateY(-2em);
	}
	100% {
		opacity: 1;
		transform: translateY(0em);
	}
}
